body {
    background-image: url(../imagem/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

 /*como agrupar o background em uma unica propriedade
 (color, image, repeat, position/size) - ShortHand ou atalho*/
 /*

 background: url(../imagem/bg-desktop.jpg) no-repeat top center/cover;
 
 */
}

#caixa {
    border: 1px solid red;
    width: 360px;
    height: 712px;
}